In [1]:
import pandas as pd
import numpy as np
df_train = pd.read_csv('train.csv').drop(['Name','Cabin','PassengerId','Ticket'],axis=1)

In [2]:
import pandas as pd
import numpy as np
df_train = pd.read_csv('train.csv').drop(['Name','Cabin','PassengerId','Ticket'],axis=1)
df_train = df_train.fillna({'Age':df_train['Age'].mean()}).dropna()
X = df_train.drop('Survived',axis=1)
y = df_train['Survived']
X_transform = pd.get_dummies(X,columns=['Sex','Embarked'])
#X_transform

# Decision Tree

In [3]:
#from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.model_selection import GridSearchCV

#X_train, X_test, y_train, y_test = train_test_split(X_transform, y, test_size=0.2, random_state=0)
d_parameters = {'max_depth':[5,6,7,8,9,10]}
D_tree = tree.DecisionTreeClassifier()
gs_d_tree = GridSearchCV(D_tree,d_parameters,cv=5)
gs_d_tree.fit(X_transform,y)
print('Best parameter:',gs_d_tree.best_params_,'With best accuracy:',gs_d_tree.best_score_)

Best parameter: {'max_depth': 5} With best accuracy: 0.81214848144

# SVC

In [4]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X_transform)
#y_scaled = scaler.transform(y)
# kernel: 'precomputed'  not work
svc_paremeters = {'C':[0.01,0.1,1,10,100],'gamma':[0.01,0.1,1,5,10]}
svc_clf = SVC()
gs_svc_clf = GridSearchCV(svc_clf,svc_paremeters,cv=5)
gs_svc_clf.fit(X_scaled,y)
print('Best parameter:',gs_svc_clf.best_params_,'With best accuracy:',gs_svc_clf.best_score_)

Best parameter: {'C': 1, 'gamma': 5} With best accuracy: 0.82114735658

# Logistic Regression

In [5]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X_transform)

logistic_paras = {'penalty':['l1','l2'],'C':[0.00005,0.005,0.05,0.5,1]}
logis_clf = LogisticRegression()
gs_logis_clf = GridSearchCV(logis_clf,logistic_paras,cv=5)
gs_logis_clf.fit(X_scaled,y)
print('Best parameter:',gs_logis_clf.best_params_,'With best accuracy:',gs_logis_clf.best_score_)

Best parameter: {'C': 0.5, 'penalty': 'l2'} With best accuracy: 0.789651293588

# Gradient Boosting

# MLP without Scaled

In [6]:
from sklearn.neural_network import MLPClassifier
mlp_paras = {'learning_rate':['constant','invscaling','adaptive']}
mlp_cls = MLPClassifier()
gs_mlp_cls = GridSearchCV(mlp_cls,mlp_paras,cv=5)
gs_mlp_cls.fit(X_transform,y)
print('Best parameter:',gs_mlp_cls.best_params_,'With best accuracy:',gs_mlp_cls.best_score_)

Best parameter: {'learning_rate': 'adaptive'} With best accuracy: 0.790776152981

In [7]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X_transform)
mlp_paras = {'learning_rate_init':[0.05,0.01,0.005,0.001],'max_iter':[300,500],'alpha':[0.001,0.005,0.0005]}
mlp_cls = MLPClassifier()
gs_mlp_cls = GridSearchCV(mlp_cls,mlp_paras,cv=5)
gs_mlp_cls.fit(X_scaled,y)
print('Best parameter:',gs_mlp_cls.best_params_,'With best accuracy:',gs_mlp_cls.best_score_)

Best parameter: {'alpha': 0.001, 'learning_rate_init': 0.01, 'max_iter': 300} With best accuracy: 0.826771653543

# Gradient boosting with {'learning_rate': 0.05, 'max_depth': 4}  have better prediction
# raw version without feature engineering best accuracy: 0.839145106862

In [8]:
import pandas as pd
import numpy as np
df_train = pd.read_csv('train.csv').drop(['Name','Cabin','PassengerId','Ticket'],axis=1)
df_train = df_train.fillna({'Age':df_train['Age'].mean()}).dropna()
X = df_train.drop('Survived',axis=1)
y = df_train['Survived']
X_transform = pd.get_dummies(X,columns=['Sex','Embarked'])

In [9]:
from sklearn.ensemble import GradientBoostingClassifier
#Train data
df_train = df_train.fillna({'Age':df_train['Age'].mean()}).dropna()
X = df_train.drop('Survived',axis=1)
y = df_train['Survived']
X_transform = pd.get_dummies(X,columns=['Sex','Embarked'])


#test data
df_pred = pd.read_csv('test.csv')
pred_id = df_pred['PassengerId']
X_test = df_pred.drop(['Name','Cabin','Ticket','PassengerId'],axis=1).fillna({'Age':df_pred['Age'].mean(),'Fare':df_pred['Fare'].mean()})
pred_transform = pd.get_dummies(X_test,columns=['Sex','Embarked'])
gb_clf = GradientBoostingClassifier(learning_rate=0.05, max_depth= 4)
gb_clf.fit(X_transform,y)
y_pred = gb_clf.predict(pred_transform)
resdf = pd.DataFrame(data = y_pred,index=pred_id,columns=['Survived'])
#resdf
resdf.to_csv('res.csv')

# Feature engineering

In [10]:
import pandas as pd
import numpy as np
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')


full_data = [train, test]
#used info could easy to figure out the null value, 
#Train : Age,Cabin,Embarked,  
#Test : Age,Fare,Cabin  
print (train.info(),test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None None

In [11]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Feature 1: pclass

In [12]:
print(train[['Pclass','Survived']].groupby('Pclass').mean())

        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363

# Feature 2: sex

In [13]:
print(train[['Sex','Survived']].groupby('Sex').mean())

        Survived
Sex
female  0.742038
male    0.188908

# Feature 3: SibSp + Parch = Family member

In [14]:
for dataset in full_data:
    dataset['FamilyMembers'] = dataset['SibSp'] + dataset['Parch'] + 1
print(train[['FamilyMembers','Survived']].groupby('FamilyMembers').mean())

               Survived
FamilyMembers
1              0.303538
2              0.552795
3              0.578431
4              0.724138
5              0.200000
6              0.136364
7              0.333333
8              0.000000
11             0.000000

# Feature 4: Family member = 1 -> travel alone

In [15]:
for dataset in full_data:
    dataset['IsAlone'] = 0
    dataset.loc[dataset['FamilyMembers']== 1,'IsAlone'] = 1
print(train[['IsAlone','Survived']].groupby('IsAlone').mean())

         Survived
IsAlone
0        0.505650
1        0.303538

# Feature 5 : Embark (2 missing in train)

In [16]:
for dataset in full_data:
    dataset['Embarked'] = dataset['Embarked'].fillna(value = dataset['Embarked'].mode())
print(train[['Embarked','Survived']].groupby('Embarked').mean())

          Survived
Embarked
C         0.553571
Q         0.389610
S         0.336957

# Feature 6: Fare (1 missing in test)

In [17]:
for dataset in full_data:
    dataset['Fare'] = dataset['Fare'].fillna(value = train['Fare'].median())
train['CatagoricalFare'] = pd.qcut(train['Fare'],4)
print(train[['CatagoricalFare','Survived']].groupby('CatagoricalFare').mean())

                 Survived
CatagoricalFare
(-0.001, 7.91]   0.197309
(7.91, 14.454]   0.303571
(14.454, 31.0]   0.454955
(31.0, 512.329]  0.581081

# Feature 7: Age (many missing value)

if the data have many missing value in a column,instead of using mean,median, it should use random to guess the value

In [18]:
for dataset in full_data:
    age_ave = dataset['Age'].mean()
    age_std = dataset['Age'].std()
    age_null_count = dataset['Age'].isnull().sum()
    
    random_age = np.random.randint(age_ave - age_std,age_ave + age_std, age_null_count)
    dataset['Age'][np.isnan(dataset['Age'])] = random_age
    dataset['Age'] = dataset['Age'].astype(int)
train['CategoricalAge'] = pd.cut(train['Age'],4)
print(train[['CategoricalAge','Survived']].groupby(['CategoricalAge']).mean())
train['CategoricalAge']

                Survived
CategoricalAge
(-0.08, 20.0]   0.423077
(20.0, 40.0]    0.375479
(40.0, 60.0]    0.381295
(60.0, 80.0]    0.227273

/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

0       (20.0, 40.0]
1       (20.0, 40.0]
2       (20.0, 40.0]
3       (20.0, 40.0]
4       (20.0, 40.0]
5      (-0.08, 20.0]
6       (40.0, 60.0]
7      (-0.08, 20.0]
8       (20.0, 40.0]
9      (-0.08, 20.0]
10     (-0.08, 20.0]
11      (40.0, 60.0]
12     (-0.08, 20.0]
13      (20.0, 40.0]
14     (-0.08, 20.0]
15      (40.0, 60.0]
16     (-0.08, 20.0]
17      (20.0, 40.0]
18      (20.0, 40.0]
19      (20.0, 40.0]
20      (20.0, 40.0]
21      (20.0, 40.0]
22     (-0.08, 20.0]
23      (20.0, 40.0]
24     (-0.08, 20.0]
25      (20.0, 40.0]
26     (-0.08, 20.0]
27     (-0.08, 20.0]
28     (-0.08, 20.0]
29      (20.0, 40.0]
           ...
861     (20.0, 40.0]
862     (40.0, 60.0]
863     (20.0, 40.0]
864     (20.0, 40.0]
865     (40.0, 60.0]
866     (20.0, 40.0]
867     (20.0, 40.0]
868     (20.0, 40.0]
869    (-0.08, 20.0]
870     (20.0, 40.0]
871     (40.0, 60.0]
872     (20.0, 40.0]
873     (40.0, 60.0]
874     (20.0, 40.0]
875    (-0.08, 20.0]
876    (-0.08, 20.0]
877    (-0.08, 20.0]
878     (20.0, 40.0]
879     (40.0, 60.0]
880     (20.0, 40.0]
881     (20.0, 40.0]
882     (20.0, 40.0]
883     (20.0, 40.0]
884     (20.0, 40.0]
885     (20.0, 40.0]
886     (20.0, 40.0]
887    (-0.08, 20.0]
888     (20.0, 40.0]
889     (20.0, 40.0]
890     (20.0, 40.0]
Name: CategoricalAge, Length: 891, dtype: category
Categories (4, interval[float64]): [(-0.08, 20.0] < (20.0, 40.0] < (40.0, 60.0] < (60.0, 80.0]]

# Feature 8: Cabin

In [19]:
train['Cabin'].fillna(0,inplace=True)
train.loc[train['Cabin']!=0,'Cabin'] = 1
train[['Cabin','Survived']].groupby('Cabin').mean()

       Survived
Cabin
0      0.299854
1      0.666667

# Feature 9: Title (use re)

In [20]:
import pandas as pd
import numpy as np
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')


full_data = [train, test]
#used info could easy to figure out the null value, 
#Train : Age,Cabin,Embarked,  
#Test : Age,Fare,Cabin  
print (train.info(),test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None None

In [21]:
import re

In [22]:
def get_title(name):
    match = re.search('([A-Za-z]+)\.',name)
    if match:
        return match.group(1)
    return ''
for dataset in full_data:
    dataset['Title'] = dataset['Name'].apply(get_title)
    
print(train['Title'].value_counts())

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Col           2
Mlle          2
Major         2
Ms            1
Lady          1
Jonkheer      1
Capt          1
Countess      1
Mme           1
Don           1
Sir           1
Name: Title, dtype: int64

In [23]:
for dataset in full_data:
    dataset['Title'] = dataset['Title'].replace(['Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
    dataset['Title'] = dataset['Title'].replace('Lady', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')
print (train[['Title', 'Survived']].groupby(['Title'], as_index=False).mean())

    Title  Survived
0  Master  0.575000
1    Miss  0.704301
2      Mr  0.156673
3     Mrs  0.793651
4    Rare  0.318182

# After the feature engineering, use the helpful feature the clean the data

In [24]:
import pandas as pd
import numpy as np
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')


full_data = [train, test]
#used info could easy to figure out the null value, 
#Train : Age,Cabin,Embarked,  
#Test : Age,Fare,Cabin  
print (train.info(),test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None None

Fare:
(-0.001, 7.91]   0.197309
(7.91, 14.454]   0.303571
(14.454, 31.0]   0.454955
(31.0, 512.329]  0.581081

Age
(-0.08, 16.0]   0.531532
(16.0, 32.0]    0.343182
(32.0, 48.0]    0.388462
(48.0, 64.0]    0.434783
(64.0, 80.0]    0.090909

In [25]:
def get_title(name):
    match = re.search('([A-Za-z]+)\.',name)
    if match:
        return match.group(1)
    return ''

In [26]:
import pandas as pd
import numpy as np
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
output_index = test['PassengerId']
full_data = [train,test]
#Sex Embarked
def clean_data(dataset):
    dataset = pd.get_dummies(dataset,columns=['Sex','Embarked'])
    dataset['Cabin'].fillna(0,inplace=True)
    dataset.loc[dataset['Cabin']!=0,'Cabin'] = 1

    #Fare
    dataset.loc[dataset['Fare']<=7.91,'Fare']=0
    dataset.loc[(dataset['Fare']>7.91)&(dataset['Fare']<=14.454),'Fare']=1
    dataset.loc[(dataset['Fare']>14.454)&(dataset['Fare']<=31.0),'Fare']=2
    dataset.loc[(dataset['Fare']>31.0)&(dataset['Fare']<=512.329),'Fare']=3
    #Age
    age_ave = dataset['Age'].mean()
    age_std = dataset['Age'].std()
    age_null_count = dataset['Age'].isnull().sum()
    random_age = np.random.randint(age_ave - age_std,age_ave + age_std, age_null_count)
    dataset['Age'][np.isnan(dataset['Age'])] = random_age
    dataset['Age'] = dataset['Age'].astype(int)
    dataset.loc[dataset['Age']<=16.0,'Age']=0
    dataset.loc[(dataset['Age']>16.0)&(dataset['Age']<=32.0),'Age']=1
    dataset.loc[(dataset['Age']>32.0)&(dataset['Age']<=48.0),'Age']=2
    dataset.loc[(dataset['Age']>48.0)&(dataset['Age']<=64.0),'Age']=3
    dataset.loc[(dataset['Age']>64.0)&(dataset['Age']<=80.0),'Age']=4
    # is Alone
    dataset['FamilyMembers'] = dataset['SibSp'] + dataset['Parch'] + 1
    dataset['IsAlone'] = 0
    dataset.loc[dataset['FamilyMembers']== 1,'IsAlone'] = 1

    dataset['Title'] = dataset['Name'].apply(get_title)
    dataset['Title'] = dataset['Title'].replace(['Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
    dataset['Title'] = dataset['Title'].replace('Lady', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')

    title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}
    dataset['Title'] = dataset['Title'].map(title_mapping)
    dataset['Title'] = dataset['Title'].fillna(0)

    drop_elements = ['PassengerId', 'Name', 'Ticket', 'SibSp','Parch', 'FamilyMembers']
    dataset = dataset.drop(drop_elements,axis=1)

    return dataset

clean_train = clean_data(train)
train_label = clean_train['Survived']
clean_train_without_label = clean_train.drop('Survived',axis=1)
clean_test = clean_data(test)
clean_test['Fare'].fillna(value=clean_test['Fare'].median(),inplace=True)

/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [27]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import GridSearchCV
gb_paras = {'learning_rate':[0.5,0.1,0.05,0.01,0.005],'max_depth':[3,4,5,6]}
gb_cls = GradientBoostingClassifier()
gs_gb_cls = GridSearchCV(gb_cls,gb_paras,cv=5)
gs_gb_cls.fit(clean_train_without_label,train_label)
print('Best parameter:',gs_gb_cls.best_params_,'With best accuracy:',gs_gb_cls.best_score_)

Best parameter: {'learning_rate': 0.1, 'max_depth': 3} With best accuracy: 0.818181818182

In [28]:
gb_cls_bs = GradientBoostingClassifier(learning_rate=0.1,max_depth=4)
gb_cls_bs.fit(clean_train_without_label,train_label)
predict_res = gb_cls_bs.predict(clean_test)
resdf = pd.DataFrame(data = predict_res,index=output_index,columns=['Survived'])
#resdf
resdf.to_csv('res_after_feature_engineering.csv')
importance_list = list(zip(clean_train_without_label.columns , gb_cls_bs.feature_importances_ ))

In [29]:
sorted(importance_list,key=lambda x:x[1],reverse=True)

[('Fare', 0.24282314607763511),
 ('Title', 0.18574082231769015),
 ('Age', 0.16013124002757376),
 ('Pclass', 0.10224570882957482),
 ('Embarked_Q', 0.077510348176355728),
 ('IsAlone', 0.072630652507271465),
 ('Cabin', 0.055918002593549232),
 ('Embarked_C', 0.045636528110275895),
 ('Embarked_S', 0.028899167178304229),
 ('Sex_female', 0.017469734119310174),
 ('Sex_male', 0.010994650062459361)]